.venv/
SchemaBridge/other/venv/
SchemaBridge/backEnd/layout_extractor/input/
SchemaBridge/backEnd/layout_extractor/output/
SchemaBridge/backEnd/layout_extractor/__pycache__/
SchemaBridge/backEnd/layout_extractor/*.pdf
*.pyc
output/*.pdf
output/*.png
*.zip
input/*.png
output/*.json
